<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
</head>

<body>

<div class="chat-main">
    <div class="chat-info">
        <div class="chat-info-login">
            <p th:text="'login: ' + ${user.login}"></p>
        </div>
        <div class="chat-info-logout">
            <button class="chat-info-logout_button">LOG OUT</button>
        </div>
    </div>
    <div class="chat-messages">
        <div class="chat-list">
        </div>
        <div class="chat-new-message">
            <input class="chat-new-message_input">
            <button class="chat-new-message_button">Send</button>
        </div>
    </div>
</div>
</body>

</html>