<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" href="styles/index.css"/>
    <script src="/dist/scripts/index.js"></script>
</head>

<body>
<div class="menu-w">
    <div class="menu">
        <div class="menu-user"></div>
        <div class="menu-title-main">Simple Contact Book</div>
        <div class="menu-title">Menu:</div>
        <div class="menu-button">
            <button class="menu-add">Add new contact</button>
        </div>
        <div class="menu-button">
            <button class="menu-update">Update contact data</button>
        </div>
        <div class="menu-button">
            <button class="menu-get">Search by Name</button>
        </div>
        <div class="menu-button">
            <button class="menu-remove">Delete by Name</button>
        </div>
        <div class="menu-button">
            <button class="menu-quit">Quit</button>
        </div>
        <div class="menu-button">
            <button class="menu-delete">Delete account</button>
        </div>
    </div>
</div>
</body>

</html>