<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update Contact</title>
    <link rel="stylesheet" href="styles/update.css"/>
    <script src="scripts/back.js"></script>
</head>

<body>
<div class="form-w">
    <div class="form">
        <div class="form-title">Update contact data by name</div>
        <div th:if="${invalid != null}" th:switch="${invalid}">
            <p th:case="'ok'">Contact successfully updated</p>
            <p th:case="'user'">No contact with this name</p>
            <p th:case="*" th:text="'Ivalid ' + ${invalid}"></p>
        </div>
        <form class="form-data" action="#" th:action="@{/api/update}" th:object="${user}" method="post">
            <div class="info">Name of contact</div>
            <div class="form-field">
                <div class="form-field-name">Name:</div>
                <input class="form-field-input" type="text" title="Name must contain only letters and '-' sign"
                       pattern="[a-zA-Z-]{1,20}" th:field="*{name}" th:required="true">
            </div>
            <div class="info">Fill in the required fields</div>
            <div class="form-field">
                <div class="form-field-name">Email:</div>
                <input class="form-field-input" type="email" title="E-mail" th:field="*{email}">
            </div>
            <div class="form-field">
                <div class="form-field-name">Login:</div>
                <input class="form-field-input" type="text" title="Login must contain only letters and numbers"
                       pattern="[a-zA-Z0-9_]{1,20}" th:field="*{login}">
            </div>
            <div class="form-field">
                <div class="form-field-name">Surname:</div>
                <input class="form-field-input" type="text" title="Name must contain only letters and '-' sign"
                       pattern="[a-zA-Z-]{1,20}" th:field="*{surname}">
            </div>
            <div class="form-field">
                <div class="form-field-name">Birthdate:</div>
                <input class="form-field-input" type="date" th:field="*{birthdate}" th:required="true">
            </div>
            <div class="form-field">
                <input class="form-button" type="submit" value="Update"/>
                <input class="form-button" type="reset" value="Reset"/>
            </div>
        </form>
        <div class="back-button-w">
            <button class="back-button">Back</button>
        </div>
    </div>
</div>
</body>
</html>