<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update User</title>
    <script src="scripts/back.js"></script>
</head>

<body>
<div class="form-title">Add new user</div>
<p th:if="${invalid}">There is no such ID</p>
<div class="form-w">
    <form action="#" th:action="@{/api/update}" th:object="${user}" method="post">
        <p>ID: <input type="number" title="ID" required th:field="*{id}"></p>
        <p>E-mail: <input type="email" title="E-mail" th:field="*{email}"></p>
        <p>Login: <input type="text" title="Login must contain only letters and numbers" pattern="[a-zA-Z0-9_]{1,20}"
                         th:field="*{login}"></p>
        <p>Name: <input type="text" title="Name must contain only letters and '-' sign" pattern="[a-zA-Z-]{1,20}"
                        th:field="*{name}"></p>
        <p>Surname: <input type="text" title="Name must contain only letters and '-' sign" pattern="[a-zA-Z-]{1,20}"
                           th:field="*{surname}"></p>
        <p>Birthdate: <input type="date" th:field="*{birthdate}"></p>
        <p><input type="submit" value="Update user"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
<div class="back-button-w">
    <button class="back-button">Back</button>
</div>
</body>
</html>